In [1]:
sc

In [2]:
from pyspark.sql import SparkSession
# Step 1: Initialize Spark Session
spark = SparkSession.builder.appName("SamplingExample").getOrCreate()

In [3]:
df = spark.read.csv("students.csv", header=True, inferSchema=True)

In [4]:
print("=== First 5 rows of dataset ===")
df.show(5)

=== First 5 rows of dataset ===
+---+-------+---+------+----+-------+-------+
| id|   name|age|gender|math|science|english|
+---+-------+---+------+----+-------+-------+
|  1|  Alice| 20|     F|  66|     92|     44|
|  2|    Bob| 20|     M|  82|     52|     77|
|  3|Charlie| 22|     F|  43|     57|     76|
|  4|  David| 19|     M|  95|     69|     46|
|  5|    Eva| 19|     F|  62|     44|     96|
+---+-------+---+------+----+-------+-------+
only showing top 5 rows

In [5]:
print("=== Schema of dataset ===")
df.printSchema()

=== Schema of dataset ===
root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- math: integer (nullable = true)
 |-- science: integer (nullable = true)
 |-- english: integer (nullable = true)

In [6]:
print("=== Sample (30% without replacement) ===")
df.sample(withReplacement=False, fraction=0.3, seed=42).show(10)

=== Sample (30% without replacement) ===
+---+------+---+------+----+-------+-------+
| id|  name|age|gender|math|science|english|
+---+------+---+------+----+-------+-------+
|  4| David| 19|     M|  95|     69|     46|
|  8| Henry| 21|     F|  53|     82|     60|
| 17|Quincy| 18|     M|  65|     79|     54|
| 19|   Sam| 18|     F|  76|     70|     65|
| 27| Aaron| 25|     F|  81|     99|     44|
| 28| Bella| 19|     F|  54|     76|     76|
| 32| Fiona| 22|     F|  48|     96|     48|
| 37|  Kyle| 21|     M|  57|     86|     92|
| 39|  Matt| 25|     M|  64|     71|    100|
| 41| Oscar| 20|     M|  87|     72|     81|
+---+------+---+------+----+-------+-------+
only showing top 10 rows